/*Palette*/
.bg-red {
  background-color : #9E1223;
}
.bg-grey {
  background-color : #2D3033;
}
.bg-green {
  background-color : #EAF415;
}
.bg-white {
  background-color : #F3EAC2;
}
.bg-brown {
  background-color : #5A1F0E;
}

/*Jumbotron*/
.jumbotron {
  background-image: url("../img/jumbotron-image-net-compressor.jpg");
  background-size: cover;
  height: 480px;
  padding: 0;
  margin-bottom: 0;
}

/*classes to stick the navbar*/
.navbar-brand{
  height: auto;
  margin: 0;
}
#navbar {
  overflow: hidden;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #F3EAC2;
  color: #2D3033;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

/*Images photos*/
span > img, div > img {
  max-height: 300px;
  max-width: 300px;
  margin: auto;    
  display: block;
}
