/*Palette*/
.bg-red {
  background-color : #9E1223;
}
.bg-grey {
  background-color : #2D3033;
}
.bg-green {
  background-color : #EAF415;
}
.bg-white {
  background-color : #F3EAC2;
}
.bg-brown {
  background-color : #5A1F0E;
}
.style-white {
  color: #F3EAC2;
}

/*Jumbotron*/
.jumbotron {
  background-image: url("../img/jumbotron-image-net-compressor.jpg");
  background-size: cover;
  background-position: center;
  height: 470px;
  padding: 0;
  margin-bottom: 0;
}

/*classes to stick the navbar*/
.navbar-brand{
  height: auto;
  margin: 0;
}
#navbar {
  overflow: hidden;
  border-color: #2D3033;
  z-index: 10;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #F3EAC2;
  color: #2D3033;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
h1 {
  padding-top: 90px;
  padding-bottom: 100px;
}
/*Images photos*/
span > img, div > img {
  height: 300px;
  width: 300px;
  margin: auto;    
  display: block;
}

ul {
  display : inline-flex;
}

/*buttons*/

button {
  border-radius: 15px;
  border-style: none;
}


#logo{
  animation-name: bonjour;
  animation-duration: 1s;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  }
  @keyframes bonjour{
  0% {opacity: 0; margin-top: 10px;}
  }

#infoposition {
  padding-top: 25px;
  font-size: 75%
}